@*
    List view for ProductModel
*@
@using FoodDeliveryShop.Models
@model IEnumerable<ProductModel>
@foreach (var p in Model)
{
		<div>
			<hЗ>@p.Name</hЗ>
		@p.Description
			<h4>@p.Price.ToString("c")</h4>
		</div>
}